 <style>
* {box-sizing: border-box;}


.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.box1{
    margin-left: 90vw;

}
.box{
    margin-left: 50vw;
    margin-top: 40vh;
   
    
}


.logout {
  display: none;
}
.ima{
    margin-top: -290px;
       
}

.authenticated .logout {
  display: block;
}
.btn {
          background-color: #04AA6D;
          color: white;
          padding: 12px;
          margin: 10px 0;
          border: none;
          width: 90%;
          border-radius: 3px;
          cursor: pointer;
          font-size: 19px;
    
        }
 

  </style>








<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <div class="box1">
     <a href="/drlogout" class="logout">Log out</a>

     </div>
  </div>

  <br />
  <br />
    <div class=" container">
        <div class="box">
        <form action="/type" class="inline">
            <button class="btn" >REGISTER YOUR CAB MODEL</button>
         </form>
           <form action="/index" class="inline">
            <button class="btn" >BOOKINGS</button>
         </form>
         </div>
         <div class="ima"></div>
        <img src="https://img.freepik.com/premium-vector/businesswoman-ordering-car-mobile-application-transportation-carsharing-service-carpooling-concept_48369-42174.jpg?size=626&ext=jpg&ga=GA1.2.372759245.1669525137">
      </div>
      </div>




 