
<style>
* {box-sizing: border-box;}


.topnav {
  overflow: hidden;
  background-color:#e9e9e9;;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color:white;
  color: black;
}


.topnav a.active {
  background-color: #2196F3;
  color: white;
}



.box2{
    margin-top: 15vh;

}

</style>




<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/log">CAB</a>
    <a href="/login">USER</a>
    <div class="box">
    <a href="/adminlogin">Admin</a>
     </div>
     </div>
<div class="box2">
	<link rel="stylesheet" href="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/default_thank_you.css">
	<script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/jquery-1.9.1.min.js"></script>
	

<body>
	<header class="site-header" id="header">
		<h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
	</header>

	<div class="main-content">
		<i class="fa fa-check main-content__checkmark" id="checkmark"></i>
		<p class="main-content__body" data-lead-id="main-content-body">Thank You for Your Support.</p>
	</div>
</div>
	