<style>
    body {
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
    }
    .box1 {

    
        background-repeat:no-repeat;
        width: 80%;
        margin-left: 40vw;
        margin-top: -40vh;
   }
.box {

        width: 550px;
        margin-top: 90px;
        margin-left: 10vw;
        padding-top: 150px;
        background-color: white;
        
    }
   

* {box-sizing: border-box;}


.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #2196F3;
  color: white;
}



</style>

  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    </div>
    

<div class="container">

    <div class="box">
        <center>
        <h1> LOGIN</h1>
        <form method="post">
            <table>


                <tr>
                    <td>
                        <label for="email">Email</label>
                    </td>
                    <td>
                        <input type="email" name="email" id="email" class="form-control" placeholder="mail@123.com"
                            style="width: 20vw; padding: 5px;">
                    </td>
                </tr>
                <tr>
                    <td>


                        <label for="password">Password</label>
                    </td>
                    <td>
                        <input type="password" name="password" id="password" class="form-control" placeholder="pass@!23"
                            style="width: 20vw; padding: 5px;">
                    </td>
                </tr>

            </table>
            <br>
            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary">LOGIN</button>
                {{#if message}}
                <p class="text-danger">{{message}}</p>
                {{/if}}
            </div>
            </center>
        </form>
        
    <div class="box1">
        <img src="https://t4.ftcdn.net/jpg/02/01/72/35/240_F_201723551_1ONZKCqEvs4Z5q6u8NnFMB4RL1pfhoGY.jpg" width="150%">
    </div>

   
    
</div>