<style>
    .container{
        margin-left:400px ;
        margin-top: 150px;
    }
      {{!-- body {
        background-image: url('https://images.pexels.com/photos/248747/pexels-photo-248747.jpeg?auto=compress&cs=tinysrgb&w=600');
        background-size: cover;
    } --}}
    .row{
        border: 0px;
        width: 400px;
        margin-left:60px;
        padding: 0px;
        border-collapse: collapse;
        background-color:rgb(80, 183, 215);
        height: 150px;
    }
    .box{
        margin-top: 70px;
    }
</style>
<center>
  <h1 style="font-family: showcard gothic; color:black;">UPDATE YOUR RIDE</h1>
</center>
<div class="container">
   
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            
            <form method="post">
                <table>
                <tr>
                    <td>
                    <label for="pickup">PICKUP</label></td>
                    <td>
                    <input type="text" name="pickup" id="pickup" class="form-Control" value="{{data.dataValues.Pickup}}">
                </td></tr>
                <tr><td>
                    <label for="drop">DROP</label></td>
                    <td>
                    <input type="text" name="drop" id="drop" class="form-Control" value="{{data.dataValues.Drop}}">
                </td></tr>
                <tr>
                    <td>
                    <label for="date">DATE</label></td>
                    <td>
                    <input type="date" name="date" id="date" class="form-Control" value="{{data.dataValues.Date}}">
               </td> </tr>
                <tr><td>
                    <label for="time">TIME</label></td>
                    <td>
                    <input type="time" name="time" id="time" class="form-Control" value="{{data.dataValues.Time}}">
                </td></tr>
                  </table>
                    
                <div class="d-grid mt-4">
                    <center>
                    <button class="btn btn-primary">UPDATE</button>
                    </center>
                </div>
          
            </form>
            <div class="box">
                <img src="https://t3.ftcdn.net/jpg/02/85/34/64/240_F_285346435_vFuXPHVRiWlfYZxvhE9USWpXHpQzrwvc.jpg">
            </div>
        </div>
    </div>
</div>